<footer id="footer">
  <% if (theme.sidebar === 'bottom'){ %>
    <%- partial('_partial/sidebar') %>
  <% } %>
  <div class="outer">
    <div id="footer-info" class="inner">
     &copy; <%= date(new Date(), 'YYYY') %> <%= config.author || config.title %><br>
    <%= __('Donate with') %> <a href="https://www.buymeacoffee.com/iheo" target="_blank">Buy me a coffee</a><br>
    <%= __('Operated by') %> <a rel="nofollow" target="__blank" href="https://www.upyun.com/?utm_source=lianmeng&utm_medium=referral" align="middle" /><img src="https://test.lia.im/website/upyun-logo.png"></a><br>
    <%= __('powered_by') %> <a href="http://hexo.io" target="_blank">Hexo</a>
    <%= __('Theme by') %> <a href="https://github.com/ikym/hexo-theme-landscape" target="_blank">landscape</a>
    <a rel="nofollow" target="__blank" href="http://beian.miit.gov.cn">粤ICP备2020096405号</a><br>
     </div>
  </div>
</footer>
